@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

*::before,
*,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::selection {
  background-color: #262626;
  color: #fff;
}

html,
body {
  min-height: 100svh;
  width: 100%;
  scroll-behavior: smooth;
  scroll-snap-type: mandatory;
  transition: 0.3s;
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .custom-scrollbar::-webkit-scrollbar {
    width: 10px;
    /* background-color: rgb(235, 235, 235); */
    border-radius: 30px;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    width: 10px;
    background-color: rgb(205, 205, 205);
    border-radius: 30px;
  }
}

:root body.light,
html.light {
  --bg-default: #fff;
  --bg-medium: #ddd;
  --bg-medium-soft: #f4f4f4;
  
  --lines_contrast: #000;
  --text-default: #121212;
  --text-h1: #000000;
  --text-h2: #363636;
  --border-medium: #ddd;
}

:root body.dark,
html.dark {
  --bg-default: #141315;
  --bg-medium: #282a30;
  --bg-medium-soft: #0e0e0f;

  --lines-contrast: #fff;
  --text-default: #a1a1a1;
  --text-h1: #fff;
  --text-h2: #afafaf;
  --border-medium: #48484a;
}
