@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

*::before,
*,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100svh;
  width: 100%;
  transform: scaleZ(100px);
  transform-style: preserve-3d;
}
